@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .navbtn {
    @apply text-gray-500 hover:border-[#7928ca]/60 hover:text-[#9E4BEE] 2xl:mx-2
  }
  .herobtn {
    @apply px-6 py-2 border border-[#242424]/0 rounded-full uppercase text-xs xl:text-sm tracking-widest text-gray-500 transition-all hover:border-[#7928ca]/60 hover:text-[#9E4BEE]
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-3 md:py-4 2xl:py-5 border-[#242424] 2xl:text-xl text-[#9E4BEE] placeholder-gray-500 transition-all hover:border-[#7928ca]/50 focus:border-[#7928ca]/50 focus:text-gray-200
  }

  .btneffect {
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#1593e3,#5918df,#7928ca);
    background-size: 1100%;
    transform: scaleX(1);
    /* transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955); */
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
  }

  .btneffect:hover, .btneffect:focus{
    background-position: 100% 50%;
    bottom: 2px;
    transform: scale3d(1.05,1.05,1);
  }
  .contactInput:hover{
    bottom: 2px;
    transform: scale3d(1.05,1.05,1);
  }

  #back-to-top, .navbtn, .skill-logo {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275)
  }

  #back-to-top:hover, .navbtn:hover, .skill-logo:hover{
     transform: scale3d(1.1,1.1,1) !important;
  }

  .dotedbg {
    backdrop-filter: blur(3px);
  }

  .dotedbg::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      #0f0d15 1px
    );
    background-size: 4px 4px;
    mask-image: linear-gradient(to top, transparent, black);
    z-index: -1;
    animation: fadeIn 0.6s ease-in; 
    }

  @keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }
}

